
#include "version.h"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		BRAINCUNT_FILEVERSION
	PRODUCTVERSION	BRAINCUNT_PRODUCTVERSION
	FILEFLAGSMASK	BRAINCUNT_FILEFLAGSMASK
	FILEFLAGS		BRAINCUNT_FILEFLAGS
	FILEOS			BRAINCUNT_FILEOS
	FILETYPE		BRAINCUNT_FILETYPE
	FILESUBTYPE		BRAINCUNT_FILESUBTYPE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041104b0"
		{
			VALUE "Comments",			BRAINCUNT_COMMENTS
			VALUE "CompanyName",		BRAINCUNT_COMPANY_NAME
			VALUE "FileDescription",	BRAINCUNT_FILE_DESCRIPTION
			VALUE "FileVersion",		BRAINCUNT_FILE_VERSION
			VALUE "InternalName",		BRAINCUNT_INTERNAL_NAME
			VALUE "LegalCopyright",		BRAINCUNT_LEGAL_COPYRIGHT
			VALUE "LegalTrademarks",	BRAINCUNT_LEGAL_TRADEMARKS
			VALUE "OriginalFilename",	BRAINCUNT_ORIGINAL_FILENAME
			VALUE "PrivateBuild",		BRAINCUNT_PRIVATE_BUILD
			VALUE "ProductName",		BRAINCUNT_PRODUCT_NAME
			VALUE "ProductVersion",		BRAINCUNT_PRODUCT_VERSION
			VALUE "SpecialBuild",		BRAINCUNT_SPECIAL_BUILD
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation",	0x0411, 0x04b0
	}
}
